#messages p:nth-child(2n-1) span {
  color: red;
}

#messages {
  font-size: 15px;
}

body {
  margin-top: 50px;
  margin-left: 50px;
}

i {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.493);
}

button {
  outline: none;
  border: 1px solid chocolate;
  background-color: coral;
  color: white;
  height: 34px;
  font-size: 15px;
  margin-left: 5px;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  text-shadow: 0px 1px 0px #b23e35;
  border-radius: 4px;
}

label {
  color: rgb(252, 81, 19);
  margin-right: 5px;
}

#username {
  border: 1px solid chocolate;
  color: coral;
  height: 30px;
  font-size: 20px;
  padding-left: 7px;
  border-radius: 4px;
}

.input-message {
  border: 1px solid coral;
  width: 200px;
}

.input-message input {
  outline: none;
  width: 150px;
  border:none;
 
  height: 30px;
  font-size: 15px;
  padding-left: 7px;
}

.user {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.disable {
  display: none;
}

#emoji {
  cursor: pointer;
}

#user-message-icon {
  height: 34px;
  margin-left: 5px;
  border-radius: 4px;
}









.neon {
    text-align: center;
    font-size: 7em;
    margin: 20px 0 20px 0;
  }
  
  .neon {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .neon:nth-child(1) a {
    
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  .neon:nth-child(1) a:hover {
      cursor: pointer;
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  
  
  
  .neon a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  
  
  @media (max-width: 650px) {
    #container {
      width: 100%;
    }
    .neon {
      font-size: 3.5em;
    }
  }